
--  Num Tables: 2
/*
READ procedure for [dbo].[Domain]
*/
CREATE PROCEDURE [dbo].[READ_Domain]
AS
SELECT * from [dbo].[Domain]

GO

/*
READ procedure for [dbo].[Entity]
*/
CREATE PROCEDURE [dbo].[READ_Entity]
AS
SELECT * from [dbo].[Entity]

GO


